{{#x-dragula class="lists" on-drop=(action "addedToList") as |d|}}
  {{#each lists as |list index|}}
    {{#d.container tagName="ul"}}
      {{#each list as |item|}}
        <li>{{item}}</li>
      {{/each}}
    {{/d.container}}
  {{/each}}
{{/x-dragula}}